
:root {
    --color_orange: #d35e2e;
    --color_white: #d2dff1;
    --color_blue: #065989;
    --color_lightblue: #6bb2b6;
    --color_gray: #adb6b7;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: linear-gradient(135deg, var(--color_lightblue) , var(--color_blue));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#registerScreen {
    background-color: var(--color_white);
    width: 600px;
    height: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

#title{
    font-size: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#title_img {
    width: 70%;
}

#username, #password {
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    
}
input{
    margin: 5px;
    border: none;
    outline: none;
    width: 200px;
    height: 25px;
    font-size: 12px;
    padding-left: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}

#return_register {
    padding-top: 10px;
    display: flex;
}

#login{
    margin: 0px 30px;
    margin-top: 15px;
    padding: 8px 40px;
    background-color: var(--color_blue);
    color: var(--color_white);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 30px;
    border: 3px solid var(--color_blue);
}

#login:hover{
    background-color: var(--color_white);
    color: var(--color_blue);
    border: 3px solid var(--color_blue);
    border-radius: 30px;
 /* por transition and transform*/
}



footer{
    font-size: 14px;
    color: var(--color_white);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
